* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #FFFFE0;
}
.navbar {
    background:  #f7d800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}
.navbar .logo {
    font-weight: bold;
    font-size: 22px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar a {
    text-decoration: underline;
    color: blue;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img {
    width: 200%;
    height: 300px;
    object-fit: cover;
}
.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px 30px;
    font-size: 60px;
}
.title {
    padding: 20px 60px;
    font-size: 48px;
    font-weight: bold;
}
.top-section {
    display: flex;
    gap: 30px;
    padding: 40px 60px;
}
.description {
    flex: 2;
    background: #F98332;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.description img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.nutrition {
    flex: 1;
    background: #f4b76e;
    padding: 30px;
    color: black;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 90%,
        50% 100%,
        0 85%
    );
}
.recipe-intro {
    padding: 0 60px 10px;
    margin-top: 0;
}
.recipe-intro h3 {
    font-size: 28px;
    margin-bottom: 5px;
}
.recipe-intro p {
    font-size: 16px;
}
.recipe-section {
    display: flex;
    gap: 30px;
    padding: 0 60px 40px;
    align-items: stretch; 
}
.ingredients {
    flex: 1;
    background: #f2d47c;
    padding: 40px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}
.instructions {
    flex: 1;
    background: #f28534;
    color: white;
    min-height: 650px;          
    padding: 60px 40px 140px;   
    clip-path: polygon(
        0 0,
        100% 0,
        100% 88%,
        50% 100%,
        0 88%
    );
}
h3 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}
ul,
ol {
    margin-left: 20px;
    line-height: 1.8;
}
@media (max-width: 900px) {
    .top-section,
    .recipe-section {
        flex-direction: column;
    }
    .nutrition,
    .instructions {
        clip-path: none;
    }
    .instructions {
        clip-path: none;
        min-height: auto;
        padding-bottom: 40px;
    }
    .description {
        flex-direction: column;
        align-items: flex-start;
    }
    .description img {
        width: 100%;
    }
}
